* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.logo {
    padding: 5px;
    color: rgba(60,60,60, 0.6);
    letter-spacing: 0.3em;
    height: 10vh;
    margin: 0;
    text-transform: uppercase;
    font-size: 1.5em;
}
.showcase {
    background: url("assets/kitten.jpg") no-repeat center center / cover;
    height: 100vh;
}
.content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.typewrite {
    line-height: 1.15vh;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
}
.typewrite > .txt{
    padding: 0.5vh;
    border-right: 0.4rem solid rgba(255,255,255, 0.7);
}
.btncontainer{
    display: flex;
    justify-content: center;
}
.btnscroll {
    font-size: 3em;
    padding: 8px;
    color: rgba(220,220,220, 0.9);
    background-color: rgba(30,30,30, 0.2);
    border-radius: 5px;
    border: 2px solid rgba(20,20,20, 0.8);
    width: 200px;
    text-align: center;
}

.btnscroll:hover {
    background-color: rgba(60,60,60, 0.6);
    color: rgba(255,255,255, 0.9);
    cursor: pointer;
}

#content h1 {
    color: rgba(20,20,20, 0.8);
    font-size: 8vw;
}
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.show{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 90vh;
    font-size: 2em;
}
.description{
    padding: 10px;
    line-height: 5vh;
    font-size: 2em;
}
.fps{
    padding: 10px;
    line-height: 5vh;
    text-align: right;
    font-size: 2em;
}
.join{
    align-self: center;
    justify-self: center;
}
.section h1 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.boxcontainer{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    width: 240px;
    height: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 2px solid rgba(40, 40, 40, 0.6);
    border-radius: 30px;
    position: relative;
}
.box:hover {
    cursor: pointer;
    background-color: rgba(200,200,200, 0.8);
}

.rgbshow {
    padding: 10px;
    text-align: center;
    font-size: 5vw;
}
.hexshow {
    padding: 10px;
    text-align: center;
    font-size: 5vw;
}
.box img {
    max-width: 240px;
    align-content: center;
}

#poweredby img {
    width: 100px;
}
#poweredby img:hover {
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
footer .clear {
    clear: both;
    float: none;
}
footer {
    background: #222;
    overflow: hidden;
    border-top: solid 1px #000;
    padding: 58px 0 0;
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5em;
}
footer p,  footer ul,  footer a,  footer .btn {
    font-family: arial, helvetica, sans-serif;
    line-height: 1.5em;
    text-transform: none;
}
footer li {
    font-size: .875em;
    line-height: 1.5em;
}
footer .last {
    margin-right: 0px !important;
}
#social a, #poweredby a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
}
#poweredby {
    max-width: 100%;
    margin: 115px auto 0;
    overflow: hidden;
    text-align: center;
}
p {
    font-size: 13px;
    color: rgba(255,255,255,0.7);
    margin: 0 0 10px;
    text-align: center;
}

#social {
    margin: 60px auto;
    overflow: hidden;
    text-align: center;
}
#social ul {
    margin: 0px auto;
    list-style-type: none;
    padding: 0px;
}
#social ul.social, #social ul.contact {
    display: inline-block;
}
#social li {
    margin: 0 17px 0 0;
    float: left;
    color: rgba(255,255,255,0.7);
}

@media only screen and (max-width: 600px) {
.showcase {
    background-image: url("assets/kittenmobile.jpg");
}
#content h1 {
    color: rgba(255,255,255, 0.8);
}
.description{
    font-size: 1em;
}
.fps{
    font-size: 1em;
}
}
.hidetxt{
    display: none;
}
.displaytxt{
    display: block;
    margin-top: 60px;
    text-align: left;
    color: rgba(40, 40, 40, 0.8);
}
.minify img{
    width: 48px;
    float: left;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
.minify:hover{
    background-color: rgb(255,255,255);
}
.minify a{
    float: left;
    margin-left: 20px;
    line-height: 48px;
    font-size: 20px;
}
.minify{
    font-family: Helvetica, Arial, sans-serif;
    height: 300px;
}
.exp{
    color: rgba(0,100,255,0.8);
    margin: 10px 0;
}
.txtbar{
    width: 100%;
    text-align: center;
    padding-top: 60px;
    color: rgba(40, 40, 40, 0.8);
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
