* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.s1 {
    background: url("domino.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.s2 {
    background: rgba(255,255,255,0.9);
}
.center{
    margin: auto;
    width: 50%;
    text-align:center;
    padding: 10px;
    font-size:2em;
}
#header {
    height: 70px;
}

#header a{
    float: right;
    margin: 10px 10px;
    text-align: center;
    color: rgba(100,100,100, 0.6);
    border: 1px solid rgba(255,255,255, 0.8);
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 10px;
    width: 100px;
}
#header a:hover{
    color: rgba(100,100,100, 0.8);
    background-color: rgba(255,255,255, 0.5);
}
#animation{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50%;
    margin: 0;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-size: 3em;
    text-align:center;
}
.typewrite > .txt{
    padding: 0.5vh;
    border-right: 0.4rem solid rgba(255,255,255, 0.9);
}
#logo{
    position: absolute;
    float:left;
    width:100px;
    height:50px;
    margin: 10px 10px;
    background: url("logo.jpg");
    background-position: center;
    background-size: cover;
}

#morebtn{
    width:100%;
    margin-top: 80vh;
    height:10vh;
    text-align:center;
}
#morebtn a{
    display:inline-block;
    font-size: 5em;
    color: white;
    text-decoration: none;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


@media only screen and (max-width: 600px) {
#logo{
    display:none;
}
#animation{
    font-size:2em;
}
#header{
    margin-top:10px;
    margin: auto;
    width: 90%;
    text-align:center;
    padding: 10px;
}
#header a{
    float: left;
    margin-top: 5px;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
    color: rgba(100,100,100, 0.6);
    border: 1px solid rgba(255,255,255, 0.8);
    text-decoration: none;
    border-radius: 4px;
    padding: 10px 10px;
    width: 80%;
}
#morebtn{
    width:100%;
    margin-top: 60vh;
    height:30vh;
    text-align:center;
}
}
