* {
    scroll-behavior: smooth;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.6rem;
}


p, #intro ul li {

    line-height: 2rem;
}

p {
    font-size: 1.5rem;
}

#landing p {
    text-align: center;
}

#intro p, #intro li {
    font-size: 1.5rem;
    text-align: justify;
}

em {
    font-style: normal;
    font-weight: bolder;
}

main {
    display: grid;
    overflow: hidden;
}

section {
    display: grid;
    min-height: 100vh;
}

#landing {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-template-areas: unset;
}

#intro {
    background-color: rgb(3, 145, 228);
}

.mobile {
    display: grid;
}

.desktop {
    display: none;
    align-self: center;
}

.desktop.left {
    grid-area: left;
}

.desktop.right {
    grid-area: right;
}

#landing {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "top"
    "content"
    "bottom";
}

.mobile.top {
    grid-area: top;
    margin-top: -50px;
    z-index: -1;
}

.mobile.bottom {
    grid-area: bottom;
    align-self: end;
    z-index: -1;
}

.content {
    padding: 2rem;
    text-align: center;
}

#landing .content {
    place-self: center;
}

button {
    outline: none;
    border: none;
    padding: 8px;
    margin: 4px;
    border: 1px solid rgb(0, 122, 192);
    min-width: 100px;
    border-radius: 4px;
    font-size: 1.4rem;
    transition: all 0.3s;
}

button:hover {
    cursor: pointer;
}

.content button:nth-of-type(1){
    background-color: rgb(255, 255, 255);
    color: rgb(3, 145, 228);
}

.content button:nth-of-type(2){
    background-color: rgb(3, 145, 228);
    color: rgb(255, 255, 255);
}

.content button:nth-of-type(1):hover, .content button:nth-of-type(2):hover {
    transform: scale(1.1);
}

#intro {
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
}

#intro ul {
    padding-left: 0;
}

#intro .content {
    padding: 2rem;
    font-size: 1.3rem;
    max-width: 1000px;
}

.content ul {
    max-width: 800px;
    margin: 4rem auto;
    place-self: center;

}

.content ul li {
    margin: 1rem 0;
    text-align: start;
}

#ohm div {
    padding: 2rem;
    text-align: justify;
}

#ohm h3, #ohm div div {
    text-align: center;
}

#ohm .content {
    max-width: 1000px;
    place-self: center;
}

#ohm em {
    color: rgb(3, 145, 228);
}

#elements {
    background-color: rgb(3, 145, 228);
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


@media only screen and (min-width: 700px) {
    h2{
        font-size: 3rem;
        text-align: center;
    }

    p, #intro li {
        font-size: 1.5rem;
    }

    #landing p {
        text-align: center;
    }

    #intro p, #intro li {
        text-align: justify;
    }

    .mobile {
        display: none;
    }
    .desktop {
        display: grid;
    }

    #landing {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr 2fr 1fr;
        grid-template-areas: "left content right";
    }

    #landing .content {
        text-align: center;
    }

    #ohm > div {
        display: grid;
        grid-auto-flow: row;
        place-content: center;
    }
    #ohm > div > div {
        display: grid;
        grid-auto-flow: column;
        place-content: center;
    }
}