body {
  margin: 0;
  padding: 0;
  font-family: "Libre Franklin", sans-serif;
}

/* navigation */

nav {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 35px;
  text-align: center;
  justify-items: start;
  align-items: center;
  box-shadow: 0 0 4px 0 rgb(90, 90, 90);
  min-height: 3rem;
}

/* logo */

.logo {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 2fr;
  font-size: 2rem;
}

.logo a {
  color: rgb(90, 90, 90);
}

.logo p {
  display: none;
}

/* splash screen */

#splash {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#splash {
  place-items: center;
}

#splash .logo {
  transform: scale(2);
  grid-template-areas:
    "icon logo"
    " bar bar "
    "load load";
  transition: all 0.2s;
}

#splash .logo .atom {
  grid-area: icon;
}

#splash .logo a {
  grid-area: logo;
}

#splash .logo p {
  display: grid;
  grid-area: load;
  margin: 0.5rem;
  font-size: 0.5rem;
  font-weight: bolder;
  text-align: center;
  color: rgb(3, 145, 228);
}

/* icon */

.atom {
  display: grid;
  place-self: center;
  place-items: center;
  position: relative;
  transform: scale(1.2);
  width: 30px;
  height: 30px;
  padding: 0;
  background: transparent;
  border: 0px;
}

.atom div {
  height: 0px;
  width: 22px;
  display: block;
  position: absolute;
  cursor: default;
}

.atom div {
  border: 0.1rem solid rgb(90, 90, 90);
  height: 8px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  width: 25px;
  top: 0px;
  background: transparent;
}

.atom div:nth-child(1) {
  top: 0px;
}

.atom div:nth-child(2) {
  top: 8px;
}

.atom div:nth-child(3) {
  top: 16px;
}

.atom div:nth-child(3):before {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: rgb(3, 145, 228);
  animation: ball 1s linear infinite;
  content: "";
  display: block;
  position: absolute;
  margin: 0.5px;
  padding: 0.5px;
}

.atom div:nth-child(1) {
  z-index: 10;
  transform: translateY(8px) rotateZ(-33deg);
}

.atom div:nth-child(2) {
  z-index: 10;
  transform: rotateZ(90deg);
}

.atom div:nth-child(3) {
  z-index: 20;
  transform: translateY(-8px) rotateZ(33deg);
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  2% {
    left: -16%;
    top: -2%;
  }
  4% {
    left: -12%;
    top: -14%;
  }
  6% {
    left: -8%;
    top: -26%;
  }
  8% {
    left: -4%;
    top: -30%;
  }
  10% {
    left: 0%;
    top: -38%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 90%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  92% {
    left: -4%;
    top: 48%;
  }
  94% {
    left: -8%;
    top: 36%;
  }
  96% {
    left: -12%;
    top: 24%;
  }
  98% {
    left: -16%;
    top: 22%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}

/* menu */

.menu {
  align-self: center;
  justify-self: end;
  margin: 5px;
}

.menu div {
  width: 24px;
  height: 2px;
  background-color: rgb(90, 90, 90);
  margin: 5px 0;
  transition: 0.4s;
}

.menu:hover {
  cursor: pointer;
}

.change.menu div:nth-child(1) {
  transform: translateX(5px) rotate(-45deg) translate(-10px, 0px);
  background-color: rgb(3, 145, 228);
}

.change.menu div:nth-child(2) {
  opacity: 0;
  background-color: rgb(3, 145, 228);
}

.change.menu div:nth-child(3) {
  transform: translateX(5px) rotate(45deg) translate(-10px, 0px);
  background-color: rgb(3, 145, 228);
}

.links {
  display: none;
  position: absolute;
  top: 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
}

.links ul {
  display: grid;
  grid-auto-flow: row;
  place-self: center;
  list-style: none;
  height: 80%;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.links ul li {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr;
  padding: 0.5rem 1rem;
  place-items: center;
}

.links ul li img {
  display: grid;
  margin-right: 1rem;
  justify-self: start;
  width: 2rem;
  opacity: 0.5;
  transition-property: transform, opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.links ul li a {
  text-decoration: none;
  text-align: center;
  color: #000000;
  font-size: 1.2rem;
}

.links ul li:hover {
  cursor: pointer;
}

.links ul li:hover > a {
  font-weight: bold;
}

.links ul li:hover > img {
  opacity: initial;
  animation-name: tilt;
  animation-duration: 1000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes tilt {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(20deg);
  }
  75% {
    transform: rotateZ(0deg);
  }
}

.links ul li.dropdown {
  display: grid;
  grid-auto-flow: row;
}

.dropdown div {
  display: none;
  top: 3rem;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.dropdown div ul {
  width: 100%;
}

.dropdown:hover div {
  display: grid;
  z-index: 1;
}

#toggle {
  display: none;
  position: absolute;
}

nav input:checked ~ .links {
  display: grid;
}

@media only screen and (min-width: 1000px) {
  .atom div {
    border: 1px solid rgb(90, 90, 90);
  }
  nav {
    grid-auto-columns: 1fr 1fr;
  }

  .menu {
    display: none;
  }

  .links {
    display: grid;
    position: relative;
    justify-self: end;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }

  .links ul {
    display: grid;
    grid-auto-flow: column;
    align-self: center;
    justify-self: end;
    list-style: none;
    height: auto;
  }

  .dropdown ul {
    grid-auto-flow: row;
  }

  .dropdown {
    position: relative;
    display: grid;
  }

  .dropdown div {
    display: none;
    position: absolute;
    top: 2.5rem;
    background-color: #ffffff;
    box-shadow: 0px 1px 2px 0px #00000033;
    border-radius: 0 0 4px 4px;
    width: auto;
  }
}
